*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(27deg, #65dce0 50%, #65dce0 50%);
    
}

.form-body{
    width: 400px;
    min-width: 300px;
    border-radius: 0;
    /*border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;*/
    border: solid 1px #fff;
    background-color: #fff;
    margin: 10px;
}

.form-body img{
    width: 158px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

.text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #082a97;
    margin-bottom: 25px;
}

.form-body input {
   /* display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #fff;
    border: 1px solid #fff;
    border: none;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    background: transparent;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px #98db1b;
    font-size: 1rem;
    outline: none;*/
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #b1b0b0; /* Línea inferior de color negro */
    border-radius: 0; /* Para que la línea inferior no tenga bordes redondeados */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: transparent; /* Fondo transparente */
    outline: none;
}

.form-body input[type="password"]{
    margin-top: 20px;
}

::placeholder{
    font-size: 1rem;
    color: rgba(19, 18, 18, 0.596);
}

.form-body button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 48px;
    width: 78%;
    background: #800080;
    color: #fff;
    border-radius: 2px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    outline: none;
    border: 2px solid #800080;
    transition: all .5s ease;
}

.form-body button:hover{
    color: #d5dbdd;
    border: 2px solid #3498db;
    /*background: linear-gradient(#34495e, #2c3e50);*/

}
